---
import Layout from '@/layouts/Layout.astro';

import About from '@/components/sections/About.astro';
import Experience from '@/components/sections/Experience.astro';
import Projects from '@/components/sections/Projects.astro';
import Education from '@/components/sections/Education.astro';
import Skills from '@/components/sections/Skills.astro';
import Hero from '@/components/sections/Hero.astro';
import KeyboardManager from '@/components/KeyboardManager.astro';
import Analytics from '@vercel/analytics/astro'

---

<Layout title="Portfolio">
	<main>
		<Hero />
		<About />
		<Experience />
		<Projects />
		<Education />
		<Skills />
	</main>
	<KeyboardManager/>
	<Analytics />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
